{% extends 'base.html.twig' %}

{% block title %}All programs{% endblock %}

{% block body %}
    <div>
    <h1>Toutes les séries : </h1>
    <br/>
        {{ form_start(form) }}
        {{ form_row(form.searchField) }}
        <button type="submit" name="btnSearch">Rechercher</button>
        {{ form_end(form) }}
        <br/>
        <a class="btn btn-dark m-3" href="../program/new">Ajouter une séries</a>
        <a class="btn btn-dark m-3" href="../program">Modifier une séries</a>
    </div>


    <div class="row row-cols-1 row-cols-md-3">
        {% for program in programs %}
        <div class="col mb-4">
            <div class="card">
                <a href="{{ path('wild_program_slug', {'slug' : program.title}) }}">
                    <img src="{{program.poster}}" class="card-img-top">
                </a>
                <div class="card-body">
                    <h2><a href="{{ path('wild_program_slug', {'slug' : program.title}) }}"> {{ loop.index }} / {{ program.title }}</a></h2>
                    <h4>Catégorie : {{ program.category.name }}</h4>
                    <p>{{ program.summary[:300] }}</p>
                </div>
            </div>
        </div>
        {% else %}
            Aucune série trouvée.
        {% endfor %}
    </div>
    <a class="btn btn-dark m-3" href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>

{% endblock %}