{% extends 'base.html.twig' %}
{% block title %}{{ slug }}{% endblock %}

{% block body %}

    <div class="media">
        <img class="align-self-start mr-3" src="/uploads/{{program.poster}}" alt="{{ program.title }} poster">
        <div class="media-body">
            <h1 class="mt-0">{{ program.title }}</h1>
            <p>{{ program.summary }}</p>
            {% for season in seasons %}
                <a class="btn bg-dark text-mainColorText m-3" href="{{ path('wild_season',{ 'seasonId' : season.id } ) }}">
                    Saison {{ loop.index }}
                </a>
            {% endfor %}
            <p>Categorie : {{ program.category.name }}</p>
        </div>
        <a class="btn btn-dark m-3" href="/wild">Retour aux séries</a>
        <a class="btn btn-dark m-3" href="../../season/new">Ajouter une saison</a>
    </div>


{% endblock %}